@model CVsite.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Name: </dt>
        <dd>
            @Model.Name
        </dd>
        <dt>Address:</dt>
        <dd>
            @Model.Address
        </dd>
        <dt>Email:</dt>
        <dd>
            @Model.Email
        </dd>

        <dd>
            @Html.ActionLink("Change your info", "ChangeInfo")
        </dd>

        <br />
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
